@(customerForm:Form[models.Customer])
@import helper._
@main("Add Customer") {
< p class ="lead">Add or Update a Customer</p>
@form(action=routes.HomeController.addCustomerSubmit(),'class -> "form horizontal", 'role -> "form"){
    @* CSRF attack prevention *@
    @* THis token, send by the controller, will be used to authenticate the form submission *@
    @CSRF.formField


    @inputText(customerForm("name"), '_label -> "name", 'class -> "form-control")
    @inputText(customerForm("number"), '_label -> "number", 'class -> "form-control")
    @inputText(customerForm("age"), '_label -> "age", 'class -> "form-control")
    @inputText(customerForm("address"), '_label -> "address", 'class -> "form-control")

    @inputText(customerForm("id"), '_label -> "", 'hidden -> "hidden")

    <div class="actions">
        <input type="submit" value="Add/Update Customer" class="btn btn-primary">
        <a href ="@routes.HomeController.customer">
            <button type="button" class="btn btn=warning">Cancel</button>
        </a>
    </div>
}@* End of form *@
}@*End of page Content *@






