
 @(customer: List[models.Customer])
 @main("Customer Page") {
  
  <p class="lead">customer Catalogue</p>
  
  <table class="table table-bordered table-hover table-condensed">
  
  <thead>
  
  <!-- The header row-->
  
  <tr>
  
  <th>ID</th>
  
  <th>cName</th>
  
  <th>number</th>
  
  <th>age</th>
  
  <th>address</th>
  
  
  
  </tr>
  
  </thead>
  
  <tbody>
  @* Loop for creating table rows from customer data*@
  @for(c<-customer) {
    <td>@c.getId</td>
      <td>@c.getcName</td>
      <td>@c.getNumber</td>
      <td>@c.getAge</td>
      <td>@c.getAddress</td>

      <!-- -edit -->
    <td><a href ="@routes.HomeController.updateCustomer(c.getId)"
      class="button-xs btn-danger" >
      <span class ="glyphicon glyphicon-pencil"></span></a></td> 


<!-- -delete -->
      <td><a href ="@routes.HomeController.deleteCustomer(c.getId)" 
        class="button-xs btn-danger" onclick="return confirmDel();">
      <span class ="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    </tr>
  } @* End of the loop *@
  
  
  
  
  </tbody>
  
  </table>
  
  <p> <a href = "@routes.HomeController.addCustomerSubmit()">
    <button class = "btn btn-primary">Add a Customer</button>
  </a>
  </p>}