
 @(products: List[models.Product])
 @main("Products Page") {
  
  <p class="lead">Product Catalogue</p>
  
  <table class="table table-bordered table-hover table-condensed">
  
  <thead>
  
  <!-- The header row-->
  
  <tr>
  
  <th>ID</th>
  
  <th>Name</th>
  
  <th>Description</th>
  
  <th>Category</th>
  
  <th>Stock</th>
  
  <th>Price</th>
  
  </tr>
  
  </thead>
  
  <tbody>
  @* Loop for creating table rows from product data*@
  @for(p<-products) {
    <tr>@p.getId</td>
      <td>@p.getName</td>
      <td>@p.getDescription</td>
      <td>@p.getStock</td>
      <td>&euro; @("%.2f".format(p.getPrice))</td>
    </tr>
  } @* End of the loop *@
  
  
  <tr>
  
  <td>1</td>
  
  <td>Television</td>
  
  <td>Sony 42" LCD"</td>
  
  <td>Television</td>
  
  <td>100</td>
  
  <td>720.00</td>
  
  </tr>
  
  </tbody>
  
  </table>}