
 @(products: List[models.Product])
 @main("Products Page") {
  
  <p class="lead">Product Catalogue</p>
  
  <table class="table table-bordered table-hover table-condensed">
  
  <thead>
  
  <!-- The header row-->
  
  <tr>
  
  <th>ID</th>
  
  <th>Name</th>
  
  <th>Description</th>
  
  <th>Stock</th>
  
  <th>Price</th>
  
  </tr>
  
  </thead>
  
  <tbody>
  @* Loop for creating table rows from product data*@
  @for(p<-products) {
    <tr>
      <td>@p.getId</td>
      <td>@p.getName</td>
      <td>@p.getDescription</td>
      <td>@p.getStock</td>
    <numeric><td>&euro; @("%.2f".format(p.getPrice))</td></numeric>
    </tr>
  } @* End of the loop *@
  
  
</tbody>
</table>
  
 
 
 <p> <a href = "@routes.HomeController.addProduct()">
  <button class = "btn btn-primary">Add a Product</button>
</a>
</p>

 }
