
 @(products: List[models.Product], categories: List[models.Category])
 @main("Products Page") {
  
  <p class="lead">Product Catalogue</p>
<div class="row">
  <div class="col-sm-2">

<h4>Categories</h4>
<div class="list-group">
  <a href="@routes.HomeController.index(0)" class="list-group-item">All categories</a>
  @for(c <- categories){
    <a href ="@routes.HomeController.index(c.getId)" class="list-group-item">@c.getName
      <span class="badge">@c.getProducts.size()</span>
    </a>
  }
</ul>
</div>
<div class="col-sm-10">
  @* Display successful new product message from flash - if set *@
  @if(flash.containsKey("success")) {
    <div class="alert alert-success">
      @flash.get("success")
    </div>
  }
  
  <table class="table table-bordered table-hover table-condensed">
  
  <thead>
  
  <!-- The header row-->
  
  <tr>
  
  <th>ID</th>
  
  <th>Name</th>

  <th>Category</th>

  <th>Description</th>
  
  <th>Stock</th>
  
  <th>Price</th>
  
  </tr>
  
  </thead>
  
  <tbody>
  @* Loop for creating table rows from product data*@
  @for(p<-products) {
    <tr>
      <td>@p.getId</td>
      <td>@p.getName</td>
      <td>@p.getCategory.getName</td>
      <td>@p.getDescription</td>
      <td>@p.getStock</td>
    <numeric><td>&euro; @("%.2f".format(p.getPrice))</td></numeric>
<!-- -edit -->
    <td><a href ="@routes.HomeController.updateProduct(p.getId)"
      class="button-xs btn-danger" >
      <span class ="glyphicon glyphicon-pencil"></span></a></td> 


<!-- -delete -->

    <td><a href ="@routes.HomeController.deleteProduct(p.getId)" 
    class="button-xs btn-danger" onclick="return confirmDel();">
  <span class ="glyphicon glyphicon-trash"></span></a></td></tr>
    
  } @* End of the loop *@
  
  
</tbody>
</table>
  
 
 
 <p> <a href = "@routes.HomeController.addProduct()">
  <button class = "btn btn-primary">Add a Product</button>
</a>
</p>
</div>
</div>
}

 
